<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Поиск</title>
    </head>
    <body>
        <h1>
            Форма для поиска вакансий
        </h1>
        <h3>
            Введите профессию/специальность
        </h3>
        <form  method="post">
            <input type="text" name="input_vacancy" placeholder="строка поиска">
            <br>
            <h3>
                Введите город
            </h3>

            <input type="text" name="input_area"  placeholder="строка поиска">
            <br>
            <br>
            <input type="submit" value="Начать поиск">
        </form>
        <br>
        <a href="/contacts/">
            Контакты
        </a>
        <hr>
        <a href="/">
            На главную!
        </a>

    </body>
    </html>